extends ../layouts/common.pug

block content
    h1 NEW TRANSFER

    form(action="/transfer/create", method="post")
        .form-group
            label(for='account') Account
            input#account.form-control(name="accountId", type="text")
        .form-group
            label(for='amount') Amount
            input#amount.form-control(name="amount", type="number")
        
        button(class="btn btn-primary") Transfer